{% extends "base.html" %}

{% block content %}
<div class="car-grid" id="ticket_detail">
    <div class="testimonial-item" {% if ticket.status_ticket == 0 %} id="ticket-detail-rejected" {% endif %}>
        <h3>{{ object.name_user }}</h3>
        <p><strong>Filial:</strong> {{ object.branch }}</p>
        <p><strong>Criação:</strong> {{ object.date }}</p>
        <p><strong>Assunto:</strong> {{ object.subject_purchase }}</p>
        <p><strong>Observação:</strong> {{ object.description }}</p>
        {% if object.who_approved %}<p><strong>Aprovado Por:</strong> {{ object.who_approved }}</p>{% endif %}
        {% if object.date_approved %}<p><strong>Data Aprovação:</strong> {{ object.date_approved }}</p>{% endif %}
        {% if object.reason_for_rejection %}<p><strong>Motivo da Rejeição:</strong> {{ object.reason_for_rejection }}</p>{% endif %}

        <h4>Cotações:</h4>
        <form method="post" action="{% url 'ticket_status' object.pk %}">
            {% csrf_token %}
            {% if not has_valid_quotes %}
            <p>Sem cotações disponíveis.</p>
            {% else %}
            {% for quote in object.quote_ticket.all %}
            {% if quote.description_quotes and quote.value %}
            <div class="quote-item">
                <label class="quote-label">
                    <input type="radio" name="selected_quote" value="{{ quote.id }}"
                        {% if quote.status == 1 %}checked{% endif %}
                        {% if ticket.status_ticket == 0 or not request.user.is_superuser %}disabled{% endif %}>
                    <div class="quote-description">
                        <strong>Descrição:</strong> {{ quote.description_quotes }}
                    </div>
                    <div class="quote-price">
                        <p><strong>Valor:</strong> R$ {{ quote.value }}</p>
                        {% if quote.status == 1 %}
                        <p>
                            <strong>Status:</strong>
                            <span class="status-active">✔️</span>
                        </p>
                        {% endif %}
                    </div>
                </label>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if request.user.is_superuser and ticket.status_ticket == 1%}
            <button type="submit" class="btn-save">Aprovar</button>
            <button type="submit" class="btn-save" id="reject_button" name="status_ticket" value="0">Rejeitar</button>
            {% elif request.user.is_superuser %}

            {% endif %}

            <div>
                <a href="{% url 'ticket_update' pk=object.pk %}" id="edit_link">
            </div>
            <input type="button" class="btn-save" id="update_button" value="Editar"
                onclick="window.location.href=document.getElementById('edit_link').href;">
            
        </form>
    </div>
</div>
{% endblock %}